<div class="container gedf-wrapper">
    <div class="row mt-2 mb-2">
        <h1 class="mx-auto">Contact List for {{user.username}}</h1>
    </div>
    <div class="row">
        <a href="/newcontact" class="btn btn-success mb-2">Add Contact</a>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Number</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {{#each contacts}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{first_name}}</td>
                    <td>{{last_name}}</td>
                    <td>{{email}}</td>
                    <td>{{number}}</td>
                    <td>
                        <a href="/edit" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>